@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Orbitron:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: rgba(36, 35, 41);
}
/* Navbar section */
.navbar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 2px cyan;

  background: linear-gradient(45deg, rgb(59, 56, 56), rgb(32, 30, 30));
}
.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-nav h1 {
  color: rgb(46, 170, 170);
  text-shadow: 3px 3px 3px black;
  font-family: "Irish Grover", cursive;
}
.list {
  display: flex;
  margin-left: 20px;
  list-style-type: none;
}
.list li {
  margin: 5px;
  color: black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  background-color: rgb(59, 209, 209);
}
.list li:hover {
  background-color: cyan;
  color: green;
}
.select {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(72, 218, 72);
  background: rgb(32, 30, 30);
  color: rgb(72, 218, 72);
  outline: none;
}
/* Trailer Section */
.trailers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 10px;
}
.card {
  width: 50vh;
  height: 70vh;
  margin: 6px;
  background-color: rgb(43, 42, 45);
  border: 2px solid black;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.01);
}
.movieName {
  color: white;
  background-color: black;
  width: 100%;
  height: 5vh;
  padding-top: 2px;
  text-align: center;
  font-family: "Irish Grover", cursive;
}
.inner-card {
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-between;
}
.inner-card p {
  background-color: rgb(189, 247, 247);
  box-shadow: 1px 1px 1px black;
  border-radius: 20%;
  padding: 5px;
  margin: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.inner-card span {
  color: rgb(6, 231, 6);
  text-shadow: 1px 1px 1px black;
}
.inner-card h6 {
  text-shadow: 1px 1px 1px rgb(6, 231, 6);
}
.btn {
  width: fit-content;
  border-radius: 50%;
  align-self: center;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: xx-large;
  border: 2px solid white;
}
.btn:hover {
  transform: scale(1.1);
  color: cyan;
  border-color: cyan;
}

/*Play styling */
.play {
  widows: 90vh;
  height: 50vh;
  display: none;
  padding: 3px 3px;
  margin: 6px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6), 0 3px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}
